.home {
  min-height: 1000px;
}

.banner {
  margin: 10px 1px;
  background-image: url("../assets/candid.jpg"); /* this is a temporary image placeholder*/
  background-position: 0% 10%;
  background-size: cover;
  padding-top: 15%;
  padding-bottom: 15%;
  position: relative;
  background-repeat: no-repeat;
}

#title-container {
  background-color: #000000;
  opacity: 50%;
}

#title {
  text-align: center;
  color: white;
}
