.header {
  position: relative;
  background-image: url(./assets/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #424242;
}

.header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.logo-row {
  min-height: 200px;
}

.is-compact .logo-row {
  min-height: auto;
}

.logo {
  background: url(./assets/logo-white.png) 50% no-repeat;
  background-size: cover;
  height: 210px;
  width: 340px;
  margin: auto;
}

.is-compact .logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.navigation-row .mdl-navigation__link {
  font-size: 1.3em;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}

.header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  left: 15%;
}